

<div class="content-wrapper" >
    <section class="content">
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-8">
                <div class="box box-warning">

                    <h3 class="box-title"><b><p class="text-warning">&nbsp;&nbsp;&nbsp;&nbsp;รายชื่อนักเรียน ประถมศึกษาปีที่ 6</p></b></h3>
                        <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th style="width: 50px;"><p class="text-warning"><b>ลำดับ</b></p></th>  
                                    <th style="width: 100px;"><p class="text-warning"><b>รหัสนักเรียน</b></p></th>  
                                    <th style="width: 100px;"><p class="text-warning"><b>คำนำหน้า</b></p></th>
                                    <th style="width: 200px;"><p class="text-warning"><b>ชื่อ</b></p></th>
                                    <th style="width: 200px;"><p class="text-warning"><b>ยอดเงินคงเหลือ</b></p></th>

                                   
                                 
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let student of dataStudent; index as i'>  
                                    <td>{{i+1}}</td>
                                    <td>{{student.StudentData.sid}}</td>
                                    <td>{{student.StudentData.prefix}}</td>   
                                    <td>{{student.StudentData.fname}}&nbsp;&nbsp;&nbsp;&nbsp;{{student.StudentData.lname}}</td>
                                    <td>{{student.StudentData.money}}</td> 
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>   




 

        </div>
    </section>
</div>



































