<div class="content-wrapper">
  <section class="content">
      <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-8">
              <div class="box box-success">
                  <h1 align="center"><b><p class="text-success">รายการฝาก</p></b></h1>
                  <div class="form-group row">
                      <div class="col-md-2"></div>
                      <div class="col-md-8">
                      <select class="form-control form-control-lg" [(ngModel)]="statusSelect">
                          <option value="1">รายการทั้งหมด</option>
                          <option value="2">แบบเลือกเดือน</option>
                          <option value="3">แบบเลือกระหว่างวันที่กับวันที่</option>
                      </select>
                      </div>
                      <div class="col-md-2"></div>
                 </div>

                  <div align="center">
                      <div [ngSwitch]="statusSelect">
                              <!-- แบบที่1 -->
                              <div *ngSwitchCase ="1">
                                  <div class="form-group row">
                                      <div class="col-sm-2"></div>
                                      <div class="col-sm-4"><input type="text" class="form-control" id="generation" name="generation" placeholder="กรอกรุ่นนักเรียน" [(ngModel)]="Depositget.generation"></div>
                                      <div class="col-sm-4"><input type="text" class="form-control" id="sid" name="sid" placeholder="กรอกรหัสนักเรียน" [(ngModel)]="Depositget.sid"></div>
                                      <div class="col-sm-2"></div>
                                  </div>
                                  <div class="form-group row">
                                      <div class="col-sm-4"></div>
                                      <div class="col-sm-4"><button type="submit" class="btn btn-success" (click)="fetchDepositById(Depositget.sid,Depositget.generation)" (click)="noClickShow1()">ค้นหา</button></div>
                                      <div class="col-sm-4"></div>
                                  </div>


                                  <table class="table" *ngIf="show1">
                                  <thead class="thead-dark">
                                      <tr>
                                          <th style="width: 80px;"><p class="text-success" ><b>รายการที่</b></p></th>
                                          <th style="width: 300px;"><p class="text-success"><b>วันที่</b></p></th>
                                          <th style="width: 100px;"><p class="text-success"><b>รหัสอ้างอิง</b></p></th>
                                          <th style="width: 100px;"><p class="text-success"><b>จำนวนเงิน</b></p></th>
                                          <th></th>
                                          <th></th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor='let data of Data_d'>
                                          <td>{{data.Data.d_amount_deposit}}</td>
                                          <td>{{data.Data.d_date}}</td>
                                          <td>{{data.Data.d_RafID}}</td>
                                          <td>{{data.Data.d_deposit}}</td>
                                          <td><a role="button" class="btn btn-success text-white" data-toggle="modal" data-target="#modelDetailListDepositId"  (click)="detaildepositById(data.Data.d_generation,data.Data.d_sid,data.Data.d_amount_deposit)">รายละเอียด</a></td>
                                      </tr>
                                  </tbody>
                                  </table>
                              </div>

                              <div *ngSwitchCase ="2">
                                  <div class="form-group row">
                                      <div class="col-sm-2"></div>
                                      <div class="col-sm-4"><input type="text" class="form-control" id="generation" name="generation" placeholder="กรอกรุ่นนักเรียน" [(ngModel)]="Monthly.generation"></div>
                                      <div class="col-sm-4"><input type="text" class="form-control" id="sid" name="sid" placeholder="กรอกรหัสนักเรียน" [(ngModel)]="Monthly.sid"></div>
                                      <div class="col-sm-2"></div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-sm-2"></div>
                                      <div class="col-sm-8">
                                          <label for="inputState">เลือกเดือน</label>
                                          <select id="month" class="form-control" name="month"  [(ngModel)]="Monthly.month">
                                          <option selected>Choose...</option>
                                          <option value="Jan">มกราคม</option>
                                          <option value="Feb">กุมภาพันธ์</option>
                                          <option value="Mar">มีนาคม</option>
                                          <option value="Apr">เมษายน</option>
                                          <option value="May">พฤษภาคม</option>
                                          <option value="Jun">มิถุนายน </option>
                                          <option value="Jul">กรกฏาคม</option>
                                          <option value="Aug">สิงหาคม</option>
                                          <option value="Sep">กันยายน</option>
                                          <option value="Oct">ตุลาคม </option>
                                          <option value="Nov">พฤศจิกายน</option>
                                          <option value="Dec">ธันวาคม</option>
                                          </select>
                                      </div>
                                      <div class="col-sm-2"></div>
                                  </div>
                                  <div class="form-group row">
                                      <div class="col-sm-4"></div>
                                      <div class="col-sm-4"><br><button type="submit" class="btn btn-success" (click)="noClickShow2()"  (click)="MonthlyDeposit(Monthly.generation,Monthly.sid,Monthly.month)">ค้นหา</button></div>
                                      <div class="col-sm-4"></div>
                                  </div>

                                  <table class="table" *ngIf="show2">
                                      <thead class="thead-dark">
                                          <tr>
                                              <th style="width: 80px;"><p class="text-success" ><b>รายการที่</b></p></th>
                                              <th style="width: 300px;"><p class="text-success"><b>วันที่</b></p></th>
                                              <th style="width: 100px;"><p class="text-success"><b>รหัสอ้างอิง</b></p></th>
                                              <th style="width: 100px;"><p class="text-success"><b>จำนวนเงิน</b></p></th>
                                              <th></th>
                                              <th></th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor='let data of DataGetListMonth'>
                                              <td>{{data.Data.d_amount_deposit}}</td>
                                              <td>{{data.Data.d_date}}</td>
                                              <td>{{data.Data.d_RafID}}</td>
                                              <td>{{data.Data.d_deposit}}</td>
                                              <td><a role="button" class="btn btn-success text-white" data-toggle="modal" data-target="#modelDetailListDepositId"  (click)="detaildepositById(data.Data.d_generation,data.Data.d_sid,data.Data.d_amount_deposit)">รายละเอียด</a></td>
                                          </tr>
                                      </tbody>
                                      </table>
                              </div>



                              
                              <div *ngSwitchCase ="3">
                                  <div class="form-group row">
                                      <div class="col-sm-2"></div>
                                      <div class="col-sm-4"><input type="text" class="form-control" id="generation" name="generation" placeholder="กรอกรุ่นนักเรียน" [(ngModel)]="BetweenDate.generation"></div>
                                      <div class="col-sm-4"><input type="text" class="form-control" id="sid" name="sid" placeholder="กรอกรหัสนักเรียน" [(ngModel)]="BetweenDate.sid"></div>
                                      <div class="col-sm-2"></div>
                                  </div>
                                  <div class="form-group row">
                                      <div class="col-sm-2"></div>
                                      <div class="col-sm-4">เริ่มต้น<input type="date" class="form-control" id="date1" name="date1" [(ngModel)]="BetweenDate.date1"></div>
                                      <div class="col-sm-4">สิ้นสุด<input type="date" class="form-control" id="date2" name="date2" [(ngModel)]="BetweenDate.date2"></div>
                                      <div class="col-sm-2"></div>
                                  </div>
                                  <div class="form-group row">
                                      <div class="col-sm-4"></div>
                                      <div class="col-sm-4"><button type="submit" class="btn btn-success" (click)="noClickShow3()" (click)="findBetweenDate(BetweenDate.generation,BetweenDate.sid,BetweenDate.date1,BetweenDate.date2)">ค้นหา</button></div>
                                      <div class="col-sm-4"></div>
                                  </div>

                                  <table class="table" *ngIf="show3">
                                      <thead class="thead-dark">
                                          <tr>
                                              <th style="width: 80px;"><p class="text-success" ><b>รายการที่</b></p></th>
                                              <th style="width: 300px;"><p class="text-success"><b>วันที่</b></p></th>
                                              <th style="width: 100px;"><p class="text-success"><b>รหัสอ้างอิง</b></p></th>
                                              <th style="width: 100px;"><p class="text-success"><b>จำนวนเงิน</b></p></th>
                                              <th></th>

                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor='let data of DateGetBetweenDate'>
                                              <td>{{data.Data.d_amount_deposit}}</td>
                                              <td>{{data.Data.d_date}}</td>
                                              <td>{{data.Data.d_RafID}}</td>
                                              <td>{{data.Data.d_deposit}}</td>
                                              <td><a role="button" class="btn btn-success text-white" data-toggle="modal" data-target="#modelDetailListDepositId"  (click)="detaildepositById(data.Data.d_generation,data.Data.d_sid,data.Data.d_amount_deposit)">รายละเอียด</a></td>

                                          </tr>
                                      </tbody>
                                      </table>
                              </div>

                              <div *ngSwitchDefault>
                                  <h3 align="center"><b><p class="text-success">แสดงรายการฝาก</p></b></h3>
                              </div>



                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-1"><button type="submit" class="btn btn-success"  (click)="refresh()" >ล้างข้อมูล</button></div>
      </div>
  </section>
</div>





<!-- modelDetailListDepositId -->
<div class="modal fade" id="modelDetailListDepositId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <h5 class="modal-title">รายละเอียด รายการฝาก</h5>

          </div>
          <div class="modal-body"  id="content">
              <div align="center">

                  <div class="form-group row">
                  <div><p class="text-success">รายการฝากที่ :{{amount_deposit}}</p></div>
                  <br>
                  <div><p class="text-success">รหัสอ้างอิง : {{RafID}}</p></div>
                  <br>
                  <div><p class="text-success">วันที่ : {{date}}</p></div>
                  <br>
                  <div><p class="text-success">จำนวนเงิน : {{deposit}}</p></div>
                  <br>
                  <div><p class="text-success">รหัสนักเรียน : {{sid}}</p></div>
                  <br>
                  <div><p class="text-success">ชื่อ : {{prefix}}&nbsp;{{fname}}&nbsp;&nbsp;{{lname}}</p></div>
                  <br>
                  <div><p class="text-success">รุ่น : {{primary}}</p></div>
                  <div><p class="text-success">ระดับชั้น : {{primary}}</p></div>
                  </div>

              </div>
           </div>
           <button type="submit" (click)="printPDF(sid,RafID)">ปริ้น</button>
      </div>
  </div>
</div>
