<header class="main-header">
  <!-- Logo -->
  <a class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><i class="fa fa-bitcoin"></i></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>ธนาคารโรงเรียน</b></span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->

    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <button type="button" class="btn btn-block btn-primary" (click)="logout()">
        ออกจากระบบ
      </button>
    </div>
  </nav>
</header>
